.footer-clean {
  padding: 6em 0;
  border-top: 1px solid rgb(237, 176, 46);
}

@media (max-width:767px) {
  .footer-clean .item {
    padding-bottom: 2em;
  }
}

.footer-clean .copyright {
  margin-top: 1em;
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0.5em 0 0.5em 1.5em;
}

.team-image:after:hover {
}

